<html>

<head>
    <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.main.css %>">
</head>

<body>
    <div class="container">
        <div class="navbar inverse">
            <h3>Wowd</h3>
        </div>
        <div class="jumbotron">
            <h3>Wow</h3>
            <p>We made it! <i class="fa fa-address-book" /></p>
            <button class="btn btn-warning">Click me and it's over, folks...</button>
        </div>
        <pre>
         <code>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente quas, repellat quibusdam accusantium perferendis et temporibus culpa delectus nihil cupiditate commodi pariatur earum, illum animi consequatur co....</code>
        </pre>
    </div>

    <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
</body>
</html>